.btn {
  color: var(--error);
  font-family: 'Play', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 12px;
  width: fit-content;
  background-color: var(--neutral);
  border-radius: 4px;
}

.btn:hover {
  color: var(--neutral);
  background-color: var(--error);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .5;
}