.btn {
  flex: 1;
  color: var(--errorContent);
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: var(--error);
}

.btn:hover {
  color: var(--neutralContent);
  background-color: var(--neutral);
}

.btn:disabled {
  background-color: var(--neutral);
  opacity: .5;
}