.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container { 
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  min-height: 74vh;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;

  @media (min-width: 1920px) { /* Desktop */ 
    padding: 40px 80px;
    width: 90%;
  }
}