.popup {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  color: #FFFFFF;
  font-family: 'Play', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  padding: 12px 24px;
}

.savedPopup {
  background-color: var(--color-success);
}

.errorPopup {
  background-color: var(--color-error);
}

.authPopup {
  background-color: var(--color-success);
}

.infoPopup {
  background-color: var(--color-info-content);
}

.icon {
  height: 60px;
  width: 60px;
}