@import '../../../../animations.css';
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  overflow: hidden;
}

.title {
  font-size: 2.25rem;
  color: var(--neutral);
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 18px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  font-style: normal;
  color: var(--neutral);
  width: 30%;
  padding: 10px 0;
}

.input {
  width: 100%;
  padding: 12px 0;
  text-indent: 1rem;
}