@import '../../../../animations.css';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Play', sans-serif;
  padding: 16px;
  background-color: var(--neutral);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, .25);
  overflow: hidden;
  animation: 250ms fade-in-bottom linear;

  @media (min-width: 1025px) { /* Laptop+ */ 
    padding: 32px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--neutralContent);
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 24px;
  width: 100%;
}

.houseIcon {
  width: 70px;
  margin-top: 12px;

  @media (min-width: 1025px) { /* Laptop+ */ 
    width: 100px;
  }
}

.cofIcon {
  position: absolute;
  top: -25%;
  right: -25%;
  height: 600px;
  pointer-events: none;
  opacity: .6;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

  @media (min-width: 1025px) and (max-width: 1919px) { /* Laptop */ 
    top: -20%;
    right: -20%;
  }
}