.container {
  position: relative;
  display: flex;
  height: fit-content;
  margin-top: auto;
  width: 100%;
  max-width: 300px;
  min-height: 50px;
  border-radius: 10px;
  animation: 250ms fade-in-top linear;

  @media (min-width: 1025px) { /* Laptop+ */ 
    width: 300px;
  }
}

.searchInput {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  width: 100%;
  height: 75%;
  box-shadow: 8px 8px 8px var(--neutral);
  border-radius: 10px;
}

.clearBtn {
  position: absolute;
  color: var(--neutralContent);
  text-transform: uppercase;
  background-color: var(--neutral);
  right: 0;
  width: 80px;
  height: 75%;
  border-radius: 0 10px 10px 0;

  @media (min-width: 1025px) { /* Laptop+ */ 
    width: 120px;
  }
}

.clearBtn:hover {
  cursor: pointer;
  color: var(--neutral);
  background-color: var(--warning);
}

.count {
  position: absolute;
  left: 10px;
  bottom: -22px;
  font-style: italic;
}

.header {
  position: absolute;
  color: var(--warning);
  text-shadow: 2px 2px 4px var(--neutral);
  font-size: 1.75rem;
  font-family: 'Fugaz One', san-serif;
  font-weight: 400;
  font-style: italic;
  top: -24px;
  left: -20px;
  z-index: 10;

  @media (min-width: 1025px) { /* Laptop+ */ 
    font-size: 2rem;
    top: -30px;
    left: -30px;
  }
}