.footer {
  display: flex;
  flex-direction: column;
  height: 14vh;
  background-color: var(--b3);
  margin-top: auto;
}

.text {
  color: var(--primaryContent);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .4rem;
  text-align: center;
  margin: auto;

  @media (max-width: 1024px) { /* Tablet */ 
    font-size: .60rem;
  }
}